/* место для вашего кода */
html {
  scroll-behavior: smooth;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  text-underline-offset: 4px;
  padding: 92px 50px 96px 50px;
  /* Правка для PixelPerfect */
}

.header__menu {
  display: flex;
}

.header__menu-list {
  display: flex;
  gap: 32px;
  /* gap: 23px; */
  /* Правка для PixelPerfect */
}

.header__menu-item {
  list-style: circle;
  /* padding-left: 10px; */
  /* Правка для PixelPerfect */
}

.header__menu-item:first-child {
  list-style-type: none;
}


.header__menu-link-active {
  text-decoration: none;
}

.header__logo-image {
  display: block;
  width: 148px;
  height: 105px;
}

.address {
  display: flex;
  flex-direction: column;
  justify-self: end;
  align-items: flex-start;
  font-style: normal;
  max-width: 240px;
  line-height: 1.35;
}



.address__link_map {
  text-decoration: none;
}

.overlay {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.6;
  inset: 0;
  /* Правка для PixelPerfect */
}


.cover {
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  min-height: 757px;
  padding-top: 165px;
  ;
  /* Правка для PixelPerfect */
}

.cover__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  font-size: 100px;
  letter-spacing: 30px;
  line-height: 1.15;
  font-weight: bold;
  text-transform: uppercase;
  z-index: 1;
  /* Правка для PixelPerfect */
}

.text-left {
  align-self: flex-start;
  padding-left: 50px;
  /* Правка для PixelPerfect */
}

.text-center {
  align-self: center;
  margin-left: 30px;
  margin-top: 20px;
  /* Правка для PixelPerfect */
}

.text-right {
  align-self: flex-end;
  padding-top: 20px;
  padding-right: 20px;

  /* Правка для PixelPerfect */
}



.cover__text {
  font-size: 22px;
  line-height: 28px;
  word-spacing: 19px;
  /* Правка для PixelPerfect */
  text-transform: uppercase;
  color: #fff;
}

.description {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  gap: 104px;
  padding: 0px 0px 48px 0px;
  /* Правка для PixelPerfect */
}

.button {
  border: solid 1px #fff;
  background-color: transparent;
  color: #fff;
  font-size: 22px;
  line-height: 1;
  text-align: center;
  min-width: 256px;

  font-weight: 500;
  padding: 13px 32px 14px 31px;
  /* Правка для PixelPerfect */
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
}

.lots {
  display: flex;
  flex-direction: column;
  padding: 182px 24px 118px;
}

.lots__heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 25px;
  margin-left: 40px;
}

.lots__card-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: flex-start;
}

.lots__card-list-item {
  min-height: 596px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  max-width: 334px;
  height: 100%;
}


.card-link {
  position: relative;
  height: 100%;
  text-decoration: none;
  /* убрал подчеркивание текста в карточке */
}

.card__title {
  color: #fff;
  font-size: 22px;
  line-height: 1.2;
  text-decoration: underline;
  text-transform: uppercase;
  z-index: 1;
  max-width: 255px;
  /* в отличии от свойства width, позволит блоку уменьшить свою ширину */
  margin-top: 48px;
}

.card__text {
  color: #fff;
  font-size: 20px;
  line-height: 1.2;
  z-index: 1;
  margin-bottom: 48px;
  margin-left: 40px;
  margin-right: 40px;
}

.lots__look-more-link {
  font-size: 20px;
  margin-top: 32px;
  margin-left: 40px;
  text-underline-offset: 4px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.about__column {
  display: grid;
  grid-template-columns: 334px 1fr;
  padding: 0 24px 180px;
  /* Правка для PixelPerfect */
}

.about__logo {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin-top: 36px;
  margin-left: 48px;
  /* Правка для PixelPerfect */
  border-radius: 50%;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__block {
  display: flex;
  flex-direction: column;
  margin: 138px 24px 0 24px;
  gap: 25px;
}

.about__title {
  color: #000;
  font-size: 40px;
  text-transform: uppercase;
  padding-bottom: 75px;
}

.about__text {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  line-height: 1.2;

}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: start;
  text-underline-offset: 4px;
  padding: 0 50px 82px;
}

.footer__address {
  max-width: 242px;
}

.footer__menu-list {
  list-style: none;
  text-align: center;
}

.footer__social-list {
  list-style: none;
  display: flex;
  gap: 48px;
  width: 240px;
}